	/* icon图标 */
    .Text_Nowraps{text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:3;overflow: hidden;}
	.Qian_icon{background: url(http://lx97.cn/static/qian.png) no-repeat;width: 43upx;height: 43upx;background-size: 100% 100%;}
	/* 首页图标 */
	.uni-rw-but{background: url(http://lx97.cn/static/rwbut.png) no-repeat;width: 54upx;height: 67upx;background-size: 100% 100%;display: inline-block;}
	.uni-lq-but{background: url(http://lx97.cn/static/jlbut.png) no-repeat;width: 56upx;height: 58upx;background-size: 100% 100%;display: inline-block;}
	.uni-bw-but{background: url(http://lx97.cn/static/bwcbut.png) no-repeat;width: 70upx;height: 59upx;background-size: 100% 100%;display: inline-block;}
	/* 登录注册图标 */
	.uni-zh-input{background: url(http://lx97.cn/static/phone.png) no-repeat left ;background-size: 26upx 40upx;width: 26upx;height: 40upx;display: inline-block;}
	.uni-pw-input{background: url(http://lx97.cn/static/password.png)  no-repeat left;background-size: 31upx 38upx;width: 31upx;height: 40upx;display: inline-block;}
	/* 微信快捷登陆图标 */
	.uni-wx-icon{background: url(http://lx97.cn/static/wxicon.png) no-repeat;background-size: 81upx 81upx;width: 81upx;height: 81upx;display: inline-block;}
	/* 短信图标 */
	.uni-phone-input{background: url(http://lx97.cn/static/yzmicon.png) no-repeat;background-size: 34upx 38upx;width: 34upx;height: 38upx;display: inline-block;}
	/* 下拉三角形图标 */
	.uni-menu-mt input{background: url(http://lx97.cn/static/xlicon.png) no-repeat right;background-size: 17upx 13upx;width: 17upx;height: 13upx;display: inline-block;background-position-x:120upx ;}
	/* 微信提现图标 */
	.uni-wxs-icon{background: url(http://lx97.cn/static/wxsicon.png) no-repeat right;background-size: 45upx 45upx;width: 45upx;height: 45upx;display: inline-block;}
	/* 支付宝提现图标 */
	.uni-ali-icon{background: url(http://lx97.cn/static/aliicon.png) no-repeat;background-size: 45upx 45upx;width: 45upx;height: 45upx;display: inline-block;}
	/* 已领取图标 */
	.uni-lqu-icon{background: url(http://lx97.cn/static/linquicon.png) no-repeat;background-size: 45upx 45upx;width: 45upx;height: 45upx;display: inline-block;}
	/* 待审核图标 */
	.uni-sh-icon{background: url(http://lx97.cn/static/shenheicon.png) no-repeat;background-size: 45upx 45upx;width: 45upx;height: 45upx;display: inline-block;}
	/* 已完成图标 */
	.uni-ywc-icon{background: url(http://lx97.cn/static/wcicon.png) no-repeat;background-size: 45upx 45upx;width: 45upx;height: 45upx;display: inline-block;}
	.uni-ysb-icon{background: url(http://lx97.cn/static/sbicon.png) no-repeat;background-size: 45upx 45upx;width: 45upx;height: 45upx;display: inline-block;}	
	/* 帮助中心照片 */
	.uni-zps-icon{background: url(http://lx97.cn/static/zpsicon.png) no-repeat center;background-size: 45upx 37upx;width: 45upx;height: 37upx;display: inline-block;}
	/* 上传图片icon */
	.uni-sctp-icon{background: url(http://lx97.cn/static/shangchuan.png) no-repeat center;background-size: 119upx 119upx;width: 119upx;height: 119upx;display: inline-block;}
	/* 添加icon */
	.uni-Tj-icon{background: url(http://lx97.cn/static/jia.png) no-repeat center;background-size: 36upx 36upx;width: 36upx;height: 36upx;display: inline-block;}

	